@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Bad+Script|Cinzel|Raleway");
html,
body {
  width: 100%;
  margin: 0;
  background-image: radial-gradient(circle, #9fcab0, #b4cdb0, #c5cfb4, #d3d2bc, #ddd6c7);
  font-family: "Raleway", sans-serif;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.container-fluid .mini-bar {
  font-family: "Cinzel", serif;
  margin: 0;
  height: 2em;
  background-color: #eceff1;
  padding: 0em 1em;
}

.container-fluid .mini-bar .mobile {
  font-size: 16px;
  font-weight: 600;
}

.container-fluid .mini-bar .fa-facebook-square:hover {
  color: #0d47a1;
}

.container-fluid .mini-bar .fa-facebook-square {
  color: #039be5;
}

.container-fluid .mini-bar .fa-instagram {
  color: #d6249f;
}

.container-fluid .mini-bar .fa-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.hover-links li, nav li {
  position: relative;
}

.hover-links a, nav a {
  color: #40ad6b;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.hover-links a:before, nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #40ad6b;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.hover-links a:hover, nav a:hover {
  color: #558b2f;
  text-decoration: none;
}

.hover-links a:hover:before, nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav {
  height: 100px;
  padding: 1em, 0em;
}

nav a {
  font-size: 1.4em;
  font-family: "Cinzel", serif;
}

.navbar-nav li {
  margin: 0 1em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #ffedc8;
}

.sticky a:before {
  background-color: #558b2f;
}

.sticky + .container {
  padding-top: 100px !important;
}

#sticky-footer {
  width: 100%;
  line-height: 20px;
  /* Vertically center the text there */
  background-color: #ffedc8;
  font-family: "Cinzel", serif;
  color: black;
}

#sticky-footer a {
  font-family: "Raleway", sans-serif;
}

.banner {
  width: 150px;
  height: 130px;
  background: url("../new_logo.jpg");
}

.info > * {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

small {
  font-family: "Bad Script", cursive !important;
}

/* Glyph, by Harry Roberts */
hr.style-eight {
  overflow: visible;
  /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #ffedc8;
}

hr.style-seven {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.style-seven:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.query {
  background-color: #40ad6b !important;
}

.center-crop {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 540px;
}

.contact {
  position: absolute;
  left: 100px;
  top: 200px;
  opacity: 0.4;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  height: 300px;
  background: #fafafa;
}

.contact:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background: #fff9ec;
}

.card-image {
  width: 450px;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card-body {
  opacity: 0.5;
}

.jumbotron > img {
  max-width: 100%;
  max-height: 100%;
  height: 500;
}

.places-img {
  width: 300px;
  height: 250px;
}

#form {
  display: none;
}

#form > * {
  margin-bottom: 10px;
}

my_button, #form button:hover, #form button, #delete, #delete:hover {
  border-radius: 20px;
}

#form button:hover {
  background: #00c300;
  color: #f2f2f2;
}

#form button {
  color: #00c300;
  background: #f2f2f2;
}

#delete {
  color: #c62828;
  background: #f2f2f2;
}

#delete:hover {
  background: #c62828;
  color: #f2f2f2;
}
/*# sourceMappingURL=main.css.map */